
http://iote-one.luytsm.be {
    reverse_proxy localhost:8881
}
http://iote-two.luytsm.be {
    reverse_proxy localhost:8882
}
http://iote-three.luytsm.be {
    reverse_proxy localhost:8883
}
http://iote-four.luytsm.be {
    reverse_proxy localhost:8884
}
http://iote-five.luytsm.be {
    reverse_proxy localhost:8885
}
http://iote-six.luytsm.be {
    reverse_proxy localhost:8886
}
http://iote-seven.luytsm.be {
    reverse_proxy localhost:8887
}
http://iote-eight.luytsm.be {
    reverse_proxy localhost:8888
}
http://iote-nine.luytsm.be {
    reverse_proxy localhost:8889
}
http://iote-ten.luytsm.be {
    reverse_proxy localhost:8890
}
http://iote-eleven.luytsm.be {
    reverse_proxy localhost:8891
}
http://iote-twelve.luytsm.be {
    reverse_proxy localhost:8892
}
